.vs/
/bin/Debug
/bin/Release/Rasterizer.tlog
/bin/Release/mesh.obj
/bin/Release/main.obj
/bin/Release/light.obj
/bin/Release/global.obj
/bin/Release/buffer.obj
/bin/Release/renderer.obj
/bin/Release/Rasterizer.vcxproj.FileListAbsolute.txt
/bin/Release/Rasterizer.pdb
/bin/Release/Rasterizer.log
/bin/Release/Rasterizer.ipdb
/bin/Release/Rasterizer.iobj
/bin/Release/Rasterizer.exe.recipe
/bin/Release/window.obj
/bin/Release/vc143.pdb
/bin/Release/shader.obj
